@import "./../../variables";
@import "./../../panel";

.github {
  @include panel();

  &__repos {
    display: flex;
    flex-wrap: wrap;
  }

  &__emptyrepo {
    @include panel(true, true);
  }

  &__repo {
    @include panel(true, true);
    border: 1px solid $gray;
    margin: 0.5rem;

    &--haspages {
      color: $dark;
      background-color: #ffffff;
    }
  }
}