.wrapper {
    margin-bottom: 2rem;
}

.repositoryLink {
    display: inline-block;
    padding: 1rem;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #c9c9c9;
    transition: all 200ms;

    & h3 {
        text-decoration: underline;
        font-weight: lighter;
        margin-bottom: 0.75rem;
    }

    & :is(img,svg) {
        filter: grayscale(0.7);
        transition: all 200ms;
        border-radius: 4px;
        border: 1px solid #c9c9c9;
    }
    &:hover :is(img,svg) {
        filter: grayscale(0.2);
    }

    &:hover {
        scale: 1.01;
        background: rgb(from var(--accent) r g b / 50%);
    }
}

.repository {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 1rem;
}